*.js linguist-language=weex
*.css linguist-language=weex
*.html linguist-language=weex
*.java linguist-language=weex
*.xml linguist-language=weex
*.vue linguist-language=weex
*.o linguist-language=weex
